.r2l {
  &-galery-img-container {
    max-height: 188px;
    overflow: hidden;
  }

  &-galery__img {
    max-width: 100%;
    object-fit: cover;
    vertical-align: middle;
  }

  &-slick {
    &-dots {
      & > li {
        &.slick-active {
          & > button::before {
            opacity: 1;
          }
        }

        & > button {
          padding: 0;

          &::before {
            opacity: 1;
          }
        }
      }
    }
  }
}

.r2l-title {
  font-size: 1.2rem;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
