@import '../../styles/variables';

.carousel {
  margin-top: -12px;
  & .carousel-indicators {
    bottom: 25px;
    & > li {
      width: 14px;
      height: 14px;
      border-top: 0px;
      border-bottom: 0px;
      border-radius: 50%;
      opacity: 1;
    }

    & > .active {
      background-color: $r2l-gray-900;
    }
  }

  & .carousel-caption {
    top: 50%;
    left: 15%;
    bottom: unset;
    right: unset;
    text-align: left;
    padding: unset;
    color: $r2l-gray-900;
    transform: translateY(-50%);
  }
}

.r2l {
  &-carousel {
    &__caption {
      & > p {
        padding-top: 5px;
        font-family: 'Courier New';
        font-size: 18px;
        letter-spacing: 0.1rem;
      }

      & .r2l-carousel__link {
        margin-top: 30px;
        padding: 0.075rem 0.75rem;
        border: 2px solid $r2l-gray-900;
        border-radius: unset;
        font-family: 'Rajdhani';
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.2;
        color: $r2l-gray-900;
      }

      & .r2l-carousel__link:focus,
      & .r2l-carousel__link:active {
        outline: none;
        box-shadow: none;
        text-decoration: none;
        color: $r2l-gray-900;
      }
    }

    &__title {
      font-family: 'Rajdhani';
      font-weight: 500;
      font-size: 1.75rem;
      padding: 0 50px 5px 50px;
      border-bottom: 2px solid $r2l-gray-900;
    }
  }
}
